@import "tailwindcss";

:root {
    --background: #efe7f7;
    --foreground: #d3aeff;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --font-archivo: var(--font-archivo);
    --font-archivo-black: var(--font-archivo-black);
    --font-bebas-neue: var(--font-bebas-neue);
    --font-bricolage-grotesque: var(--font-bricolage-grotesque);
    --font-clash-display: var(--font-clash-display);
    --font-helvetica: var(--font-helvetica);
    --font-oxanium: var(--font-oxanium);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

.text-shadow {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}
